/backend/deepfake_model/__pycache__/**
/backend/deepfake_model/.venv/**
/backend/deepfake_model/data/**
/backend/deepfake_model/outputs/**
/backend/deepfake_model/checkpoints/**
*.mp4 *.mov *.avi
/backend/__pycache__/**
/backend/out/**
/backend/real_data/**
/backend/test_data/**
/backend/last_run.log/
/backend/.venc/**
/frontend/node_modules/**
/frontend/node_modules/.vite/deps/**
/backend/uploads/**
/backend/deepfake_model/.DS_Store
